/* MAIN CONTAINER */
.player-dashboard {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8b528;

}

/* Section 1: Headers */
.header-section-playerdash {
  text-align: center; 
  margin: 30px 0 0 0; 
}

.header-section h1 {
  margin: 0; 
  font-size: 36px;
  line-height: 1.3;
}

.header-section h2 {
  margin: 0;
  font-size: 28px;
  line-height: 1.1;
}

.quiz-code-section {
  text-align: center;
}

.quiz-code-section label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #260f08;
}

.quiz-code-section input {
  width: 325px;
  padding: 11px 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 3px #260f08 solid;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 1.5);
}

.quiz-code-section button {
  font-size: 18px;
  font-weight: 600;
  background-color: #00fa95;
  color: #260f08;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px #260f08 solid;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 1.5);

}

.quiz-code-section button:hover {
  background-color: #260f08;
  color: white;
  border: 3px #260f08 solid;
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}

.player-guide-section {
  margin-top: 20px;
  text-align: left;
  padding: 10px 50px;
  background-color: white;
  border: #260f08 5px solid;
  border-radius: 15px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1.5);
}

.player-guide-section h3 {
  text-align: center;
}

.player-guide-section ol {
  list-style: none;
  padding: 0;
}

.player-guide-section li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* NAV ICONS */

/* User Profile Icon */
.user-profile-icon-playerdash img {
  position: absolute;
  top: 5px;
  right: 120px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 5;
}

.user-profile-icon img:hover {
  transform: scale(1.01) translateY(-5px);
}

/* Log Out Icon */
.logout-icon-playerdash img {
  position: absolute;
  top: 15px;
  right: 60px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 3;
}

.logout-icon img:hover {
  transform: scale(1.01) translateY(-5px);
}

/* LOGO */

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  margin-top: 15px;
  margin-left: 15px;
  z-index: 101;
}


.error-message-playerdash {
  color: red;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
}
